{% extends 'app/shared/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 py-5">
                <h1 class="mb-3">This site is under construction.</h1>
                <iframe src="https://giphy.com/embed/fVeAI9dyD5ssIFyOyM" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/OctoNation-work-construction-fVeAI9dyD5ssIFyOyM">via GIPHY</a></p>
            </div>
        </div>
    </div>
{% endblock %}